<!-- <p>home works!</p>
<p>welcom to karama solution</p> -->

<!-- <p [style.display]="titleStyle"> My Name is {{profile.firstName}} {{profile.lastName}}</p>
<button (click)="show()">show</button>
<button (click)="hidden()">hidden</button>
 <p> My Web site  is {{profile.website}}</p>
<img [src]="profile.linkImage" >
<p>{{profile.number}}</p>
<button (click)="inc()">incrument</button>
<button (click)="dec()">decrement</button>  -->
<!--
<p>{{profile.number}}</p>

<form action="">

</form>
<input type="text" [(ngModel)]="profile.number">

<p *ngIf="verif">welcome to GS</p>
<div *ngFor="let item of dataArray; index as i">
  <p>{{i}}{{item}}</p>
</div>
<input type="number" [(ngModel)]="profile.number">

<div [ngSwitch]="profile.number">
  <p *ngSwitchCase="1">First</p>
  <p *ngSwitchCase="2">second</p>
  <p *ngSwitchCase="3">third</p>

</div>

<p ngClass="title"> My name  is hachem tlijani</p>
<p [ngStyle]="{'color':style1, 'font-size':style2}"> My name  is hachem tlijani</p>

<p>
hachem
</p>
<p>{{profile.firstName | uppercase }}</p>
<p>{{profile.number | currency }}</p>
<p>{{date | date:'shortTime'}}</p>
<button class="btn btn-primary" (click)="gotToView()">View Profile</button>
<button class="btn btn-success "(click)="goToDetails()">Details Profile</button> -->
<app-forme></app-forme>
